<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../resources/js/require.js"></script>
<script type="text/javascript" src="../resources/js/qun.js"></script>
<script type="text/javascript" src="../resources/js/bootstarup.js"></script>
</head>
<body>
	<div id="test"></div>
	<script type="text/javascript">
		
		/*req("qun.lang.View", function(View){
			console.log(View);
			var v = new View("#test");
			console.log(v);
		});*/
	
		/*dove("qun.lang.Object", function(Object){
			
			console.log(Object);
		});*/
	
		
		/*req("qun.lang.Util", function(util){
			//console.log(ViewController.STATES());
			
			console.log(util.tmpl);
			
			
		});*/
		/*req("qun.lang.Util", function(Util){
			var a = {
					baseCSSClass : "x"	
			};
			Util.registerViewClass(a);
		});
		
		
		req("qun.lang.Util", function(Util){
			var a = {
					baseCSSClass : "y"	
			};
			Util.registerViewClass(a);			
		});

		req("qun.lang.Util", function(Util){
			console.log(Util);	
		});*/
		/*qun.config({
			
		});*/
		/*var b = declare({
			
			"@synthesize" : ["value"],
			test : "Sandy",
			self : function(str){
				//console.log("dd" + this.test);
				console.log("b");
				//console.log(this.bbddbear);
				
				//this.value = 1;
			}
		});
		
		var a = declare(b, {
			self : function(){
				console.log("a");
			}
		});
		
		t = new a();*/
		//t = new b();
		//t = new b("I love ");
		
		/*a = declare({
			"@superclass" : null,
			"@name" : null,
			"@synthesize" : ["value"],
			"-test" : function(){
				
			},
			self : function(){
				console.log("a");
			},
			m1 : function(){
				console.log("a.m1");
			},
			setValue : function(value){
				console.log("a1");
			}
		});
	
		
		b = declare({
			"@superclass" : null,
			"@synthesize" : ["value"],
			self : function(){
				console.log("b");
			},
			
			m1 : function(){
				//this.callSuper(arguments);
				console.log("b.m1");	
			},
			
			m2 : function(){
				
			},
			setValue : function(value){
				console.log("a2");
			}
		});
		
		d = declare({
			"@superclass" : b,
			
			m1 : function(){
				this.callSuper(arguments);
				console.log("d.m1");
			},
			
			m3 : function(){
				
			}
		});
		//[A,B] [B,A] [A,B]
		//[B] [B,A] [B] => [A]
		//
		
		
		//[a] [d,b], [a,d] =>[]
		//[d,b] [d] =>[a]
		//[b] => [a,d]
		//[a,d,b]
		
		c = declare({
			"@superclass" : [a,d],
			
			self : function(){
				console.log("c");
			},
			m1 : function(){
				this.callSuper(arguments);
				console.log("c.m1");
			}
		});*/
		
		//t.m1() b.m1 d.m1 c.m1
		//b  = new a();
		
		/*@("qun.lang.Object", function(Object){
			console.log("ddd");
		});*/
	</script>
</body>
</html>